# Connecting and Fetching data from SQL Workbench

In [21]:
import pandas as pd
import numpy as np
import mysql.connector as connection
import warnings

In [5]:
import logging
logging.basicConfig(
    filename="logs/ingestion_db.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

In [7]:
import time
start=time.time()

mysql=connection.connect(host="localhost",user="root",password="Mahir@863",database="vendor_management")
logging.info("Connection Established")
end=time.time()
total_time=(end-start)/60
logging.info(f'Total Time Taken: {total_time} minutes')

# <b>Exploratory Data Analysis
### Understanding the data to explore how the data is present in the database and if there is a need of creating some aggregated tables that can help with:
* Vendor selection for profitability
* Product Pricing Optimizations

In [15]:
#Checking the tables present in the database
tables=pd.read_sql_query("Show tables from vendor_management",mysql)
tables

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/437724246.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables=pd.read_sql_query("Show tables from vendor_management",mysql)

  Tables_in_vendor_management
0             begin_inventory
1               end_inventory
2             purchase_prices
3                   purchases
4                       sales
5              vendor_invoice

In [34]:
for table in tables['Tables_in_vendor_management']:
    print('-'*50,f'{table}','-'*50)
    print('Count of records:', pd.read_sql(f"select count(*) as count from {table}",mysql)['count'].values[0])
    display(pd.read_sql(f"select * from {table} limit 5",mysql))

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print('Count of records:', pd.read_sql(f"select count(*) as count from {table}",mysql)['count'].values[0])
/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(f"select * from {table} limit 5",mysql))

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print('Count of records:', pd.read_sql(f"select count(*) as count from {table}",mysql)['count'].values[0])
/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(f"select * from {table} limit 5",mysql))

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12256

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print('Count of records:', pd.read_sql(f"select count(*) as count from {table}",mysql)['count'].values[0])
/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(f"select * from {table} limit 5",mysql))

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- purchases --------------------------------------------------

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print('Count of records:', pd.read_sql(f"select count(*) as count from {table}",mysql)['count'].values[0])

Count of records: 2372474

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(f"select * from {table} limit 5",mysql))

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- sales --------------------------------------------------

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print('Count of records:', pd.read_sql(f"select count(*) as count from {table}",mysql)['count'].values[0])

Count of records: 2493918

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(f"select * from {table} limit 5",mysql))

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print('Count of records:', pd.read_sql(f"select count(*) as count from {table}",mysql)['count'].values[0])
/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/856102752.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(f"select * from {table} limit 5",mysql))

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,

In [24]:
purchases=pd.read_sql("select * from purchases where VendorNumber=4466",mysql)
purchases

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/917346019.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  purchases=pd.read_sql("select * from purchases where VendorNumber=4466",mysql)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [25]:
purchases_prices=pd.read_sql("select * from purchase_prices where VendorNumber=4466",mysql)
purchases_prices

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/2500798880.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  purchases_prices=pd.read_sql("select * from purchase_prices where VendorNumber=4466",mysql)

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [26]:
vendor_invoice=pd.read_sql("select * from vendor_invoice where VendorNumber=4466",mysql)
vendor_invoice

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/4111718322.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  vendor_invoice=pd.read_sql("select * from vendor_invoice where VendorNumber=4466",mysql)

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,

In [28]:
sales=pd.read_sql("select * from sales where VendorNo=4466",mysql)
sales

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/3741479063.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales=pd.read_sql("select * from sales where VendorNo=4466",mysql)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-03-19,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1147,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-03-22,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1148,63_SWORDBREAK_5215,63,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-03-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1149,63_SWORDBREAK_5215,63,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-03-26,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
1150,63_SWORDBREAK_5215,63,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-03-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [31]:
purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [33]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
5215        9625.59     6598.92            741
5255       11340.27     8352.57            873

* The Purchase table contains actual purchase data, including the date of purchase, products(brands) purchased by vendors, the amount paid(in dollars), and the quatity purchased.
* The purchase price column is derived from the purchase_price_table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.
* The vendor_invoice table aggregates data from the purchase table, summarizing quantity and dollar amount, along with an additional column for frieght. This table maintains uniqueness based on vendor and PO number.
* The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:

* Purchase transactions made by vendors
* sales transactions data
* freight costs for each vendor
* actual product prices from vendors

In [35]:
freight_summary=pd.read_sql_query("""select VendorNumber, sum(Freight)as FreightCost
                                  from vendor_invoice 
                                  Group BY VendorNumber""",mysql)

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/3602124260.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  freight_summary=pd.read_sql_query("""select VendorNumber, sum(Freight)as FreightCost

In [36]:
freight_summary

     VendorNumber  FreightCost
0             105        62.39
1            4466       793.91
2             388       211.74
3             480     89286.27
4             516      8510.41
..            ...          ...
121        201359         0.09
122          4901         0.72
123         90059        74.84
124          5083        10.68
125            54         0.48

[126 rows x 2 columns]

In [40]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [44]:
pd.read_sql_query("""select p.VendorNumber,
                         p.VendorName,
                         p.Brand,
                         p.PurchasePrice,
                         pp.Volume,
                         pp.Price as ActualPrice,
                        sum(p.Quantity) as TotalPurchaseQuantity,
                        sum(p.Dollars) as TotalPurchaseDollars
                        from purchases p
                         join purchase_prices pp
                         on p.Brand=pp.Brand
                  where p.PurchasePrice>0
                         group by p.VendorNumber,p.VendorName,p.Brand,
                        p.PurchasePrice, pp.Volume,pp.Price
                        Order BY TotalPurchaseDollars""",mysql)

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/3683266886.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""select p.VendorNumber,

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1.0,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1.0,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2.0,1.48
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6.0,2.34
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2.0,2.64
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109.0,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682.0,3261197.94
10689,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407.0,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038.0,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080.0,3811251.60

In [46]:
pd.read_sql_query("""select VendorNo,
                  Brand,
                  sum(SalesDollars) as TotalSalesDollars,
                  sum(SalesPrice) as TotalSalesPrice,
                  sum(SalesQuantity) as TotalSalesQuantity,
                  sum(ExciseTax) as TotalExciseTax
                  from sales
                  group by VendorNo, Brand
                order by TotalSalesDollars
                  """,mysql)

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/1359563324.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""select VendorNo,

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,0.98,0.98,2.0,0.10
1,9625,8872,0.99,0.99,1.0,0.05
2,9206,2773,0.99,0.99,1.0,0.05
3,3252,3933,1.98,0.99,2.0,0.10
4,10050,3623,1.98,1.98,2.0,0.10
...,...,...,...,...,...,...
8368,4425,3405,654382.41,122717.71,21659.0,39795.40
8369,17035,8068,717238.40,108553.15,28360.0,52107.79
8370,3960,3545,804351.89,120544.61,26411.0,48526.98
8371,1128,1233,859117.29,152309.68,23871.0,43859.52
8372,3960,4261,1032929.29,100310.95,46471.0,85386.89

In [56]:
import time
start = time.time()
final_table = pd.read_sql_query("""SELECT
pp.VendorNumber, 
pp.VendorName,
pp.Brand,
pp.Description, 
pp.Price as ActualPrice, 
pp.PurchasePrice,
pp.Volume,
SUM(s.SalesQuantity) AS TotalSalesQuantity, 
SUM(s.SalesDollars) AS TotalSalesDollars, 
SUM(s.SalesPrice) AS TotalSalesPrice,
SUM(s.ExciseTax) AS TotalExciseTax,
SUM(vi.Quantity) AS TotalPurchaseQuantity,
SUM(vi.Dollars) AS TotalPurchaseDollars, 
SUM(vi.Freight) AS TotalFreightCost
FROM purchase_prices pp
JOIN sales s
ON pp. VendorNumber = s. VendorNo
AND pp.Brand = s. Brand
JOIN vendor_invoice vi
ON pp. VendorNumber = vi. VendorNumber
GROUP BY pp.VendorNumber,pp.VendorName, pp.Brand, pp.Description,pp.Price, pp.PurchasePrice,pp.Volume
""",mysql)
end = time.time()

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/64741139.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  final_table = pd.read_sql_query("""SELECT

In [57]:
final_table

,VendorNumber,VendorName,Brand,Description,ActualPrice,PurchasePrice,Volume,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,TotalFreightCost
0,8112,MOET HENNESSY USA INC,115,Belvedere Vodka,27.99,21.37,1000,94435.0,2.643236e+06,1.525595e+06,99156.75,4.240162e+08,9.387738e+09,4.791213e+07
1,480,BACARDI USA INC,126,Grey Goose Vodka,32.99,20.14,1000,264385.0,8.660021e+06,3.221139e+06,277604.25,2.544475e+09,3.142427e+10,1.591974e+08
2,1128,BROWN-FORMAN CORP,171,Gentleman Jack,49.99,36.76,1750,61215.0,3.140163e+06,2.429702e+06,112550.90,8.652649e+08,1.163531e+10,5.899744e+07
3,7245,PROXIMO SPIRITS INC.,175,1800 Anejo Tequila,36.99,26.80,750,8415.0,3.533458e+05,2.563489e+05,6636.30,7.570666e+07,8.422713e+08,4.328421e+06
4,4425,MARTIGNETTI COMPANIES,211,Cold River Gin,24.99,19.83,750,27224.0,7.886498e+05,6.870862e+05,21483.18,7.657192e+08,8.079890e+09,4.202948e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8365,3252,E & J GALLO WINERY,18083,Madria Sangria Moscato,8.99,6.16,1500,330.0,2.966700e+03,4.944500e+02,74.25,1.858260e+06,1.228961e+07,6.196691e+04
8366,480,BACARDI USA INC,974,Bacardi O Orange Rum,15.49,12.29,1000,110.0,1.703900e+03,8.519500e+02,115.50,1.427075e+06,1.762438e+07,8.928627e+04
8367,9165,ULTRA BEVERAGE COMPANY LLP,23265,Frescobaldi Monte Chianti Rs,39.99,26.84,750,1760.0,7.038240e+04,1.539615e+04,198.00,7.542689e+06,9.247430e+07,4.763829e+05
8368,17035,PERNOD RICARD USA,23036,Jacobs Creek Two Lands Pnt G,8.99,6.62,750,275.0,2.472250e+03,1.977800e+03,30.25,6.590232e+06,9.649637e+07,4.951209e+05
8369,653,STATE WINE & SPIRITS,24776,Amayna Chard,25.99,17.92,750,55.0,1.429450e+03,1.429450e+03,6.05,1.540920e+05,1.529682e+06,8.014980e+03

This query generates a vendor-wise sales and purchase summary, which is valuable for:<br>
<br>
<b>Performance Optimization:
* The query involves heavy joins and aggregations on large datasets like sales and purchases.
* Storing the pre-aggregated results avoids repeated expensive computations.
* Helps in analyzing sales, purchases, and pricing for different vendors and brands.
* Future Benefits of Storing this data for faster Dashboarding & Reporting.
* Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

In [58]:
final_table.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
ActualPrice              float64
PurchasePrice            float64
Volume                     int64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalFreightCost         float64
dtype: object

In [59]:
final_table.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
ActualPrice              0
PurchasePrice            0
Volume                   0
TotalSalesQuantity       0
TotalSalesDollars        0
TotalSalesPrice          0
TotalExciseTax           0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
TotalFreightCost         0
dtype: int64

In [64]:
final_table['VendorName'].unique()

array(['MOET HENNESSY USA INC', 'BACARDI USA INC', 'BROWN-FORMAN CORP',
       'PROXIMO SPIRITS INC.', 'MARTIGNETTI COMPANIES',
       'WILLIAM GRANT & SONS INC', 'JIM BEAM BRANDS COMPANY',
       'CONSTELLATION BRANDS INC', 'M S WALKER INC',
       'DIAGEO NORTH AMERICA INC', 'ULTRA BEVERAGE COMPANY LLP',
       'CAMPARI AMERICA', 'PERNOD RICARD USA', 'PINE STATE TRADING CO',
       'SHAW ROSS INT L IMP LTD', 'MCCORMICK DISTILLING CO',
       'BANFI PRODUCTS CORP', 'PALM BAY INTERNATIONAL INC',
       'MAJESTIC FINE WINES', 'WINE GROUP INC', 'E & J GALLO WINERY',
       'EDRINGTON AMERICAS', 'HEAVEN HILL DISTILLERIES',
       'DJINN SPIRITS LLC', 'VINEYARD BRANDS INC',
       'DUGGANS DISTILLED PRODUCTS', 'SOUTHERN WINE & SPIRITS NE',
       'VINILANDIA USA', 'PERFECTA WINES', 'STATE WINE & SPIRITS',
       'PREMIER DISTRIBUTORS', 'MHW LTD', 'CRUSH WINES',
       'PHILLIPS PRODUCTS CO.', 'HOOD RIVER DISTILLERS, Inc.',
       'Dunn Wine Brokers', 'LUXCO INC', 'HAUNTING WHISPER VYDS',
       'MANGO BOTTLING INC', 'DIAGEO CHATEAU ESTATE WINES',
       'OLE SMOKY DISTILLERY LLC', 'R.P.IMPORTS INC',
       'SURVILLE ENTERPRISES CORP', 'SAZERAC NORTH AMERICA INC.',
       'SAZERAC CO INC', 'STE MICHELLE WINE ESTATES',
       'KOBRAND CORPORATION', 'SIDNEY FRANK IMPORTING CO',
       'FREDERICK WILDMAN & SONS', 'FORTUNE WINE BROKERS LLC',
       'DELICATO VINEYARDS INC', 'TRINCHERO FAMILY ESTATES',
       'SEA BREEZE CELLARS LLC', 'CAPSTONE INTERNATIONAL',
       'STELLAR IMPORTING CO LLC', 'LABELLE VYDS AND WINERY',
       'NICHE W & S', 'MOONLIGHT MEADERY', 'TREASURY WINE ESTATES',
       'AMERICAN VINTAGE BEVERAGE', 'DISARONNO INTERNATIONAL LLC',
       'POVERTY LANE ORCHARDS', 'LAIRD & CO', 'Circa Wines',
       'STOLI GROUP,(USA) LLC', 'VINEXTRA INC', 'SWEET BABY VINEYARD',
       'CALEDONIA SPIRITS INC', 'PARK STREET IMPORTS LLC',
       'WALPOLE MTN VIEW WINERY', 'WESTERN SPIRITS BEVERAGE CO',
       'PSP WINES', 'FLAG HILL WINERY & VINEYARD',
       'SEA HAGG DISTILLERY LLC', 'ATLANTIC IMPORTING COMPANY',
       'ALISA CARR BEVERAGES', 'REMY COINTREAU USA INC',
       'CANDIA VINEYARDS', 'LATITUDE BEVERAGE COMPANY',
       'Russian Standard Vodka', 'CENTEUR IMPORTS LLC',
       'JEWELL TOWNE VINEYARDS', 'MILTONS DISTRIBUTING CO',
       'HIGHLAND WINE MERCHANTS LLC', 'WEIN BAUER INC',
       'FANTASY FINE WINES CORP', 'INCREDIBREW INC',
       'THE IMPORTED GRAPE LLC', 'ZORVINO VINEYARDS',
       'THE PIERPONT GROUP LLC', 'STAR INDUSTRIES INC.',
       'CHARLES JACQUIN ET CIE INC', 'KLIN SPIRITS LLC',
       'MARSALLE COMPANY', 'VRANKEN AMERICA', 'BRONCO WINE COMPANY',
       'SWEETWATER FARM', 'CASTLE BRANDS CORP.', 'BLACK ROCK SPIRITS LLC',
       'TY KU LLC', 'FABRIZIA SPIRITS LLC', 'BULLY BOY DISTILLERS',
       'APPOLO VINEYARDS LLC', 'FULCHINO VINEYARD INC',
       'TAKARA SAKE USA INC', 'IRA GOLDMAN AND WILLIAMS, LLP',
       'PREMIUM PORT WINES, INC.', 'BLACK PRINCE DISTILLERY INC',
       'ALTAMAR BRANDS LLC', 'ADAMBA IMPORTS INTL INC',
       'TALL SHIP DISTILLERY LLC', 'Serralles Usa LLC',
       'VINEDREA WINES LLC', 'TAMWORTH DISTILLING',
       'SILVER MOUNTAIN CIDERS', 'SMOKY QUARTZ DISTILLERY LLC'],
      dtype=object)

In [62]:
final_table['Description'].unique()

array(['Belvedere Vodka', 'Grey Goose Vodka', 'Gentleman Jack', ...,
       'Frescobaldi Monte Chianti Rs', 'Jacobs Creek Two Lands Pnt G',
       'Amayna Chard'], shape=(7549,), dtype=object)

In [63]:
final_table['VendorName']=final_table['VendorName'].str.strip()

In [65]:
final_table['GrossProfit']=final_table['TotalSalesDollars']-final_table['TotalPurchaseDollars']

In [67]:
final_table['ProfitMargin']=(final_table['GrossProfit']/final_table['TotalSalesDollars'])*100

In [68]:
final_table['StockTurnover']=final_table['TotalSalesQuantity']/final_table['TotalPurchaseQuantity']

In [70]:
final_table['SalestoPurchaseRatio']=final_table['TotalSalesDollars']/final_table['TotalPurchaseDollars']

In [72]:
cursor=mysql.cursor()

In [73]:
final_table.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'ActualPrice',
       'PurchasePrice', 'Volume', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalFreightCost', 'GrossProfit',
       'ProfitMargin', 'StockTurnover', 'SalestoPurchaseRatio'],
      dtype='object')

In [76]:
cursor.execute("""Create table vendor_sales_summary (
               VendorNumber INT,
               VendorName VARCHAR(100),
               Brand INT,
               Description VARCHAR(100),
               ActualPrice DECIMAL(10,2),
               PurchasePrice DECIMAL(10,2),
               Volume INT,
               TotalSalesQuantity INT,
               TotalSalesDollars DECIMAL(15,2),
               TotalSalesPrice DECIMAL(15,2),
               TotalExciseTax DECIMAL(15,2),
               TotalPurchaseQuantity INT,
               TotalPurchaseDollars DECIMAL(15,2),
               TotalFreightCost DECIMAL(15,2),
               GrossProfit DECIMAL(15,2),
               ProfitMargin DECIMAL(15,2),
               StockTurnover DECIMAL(15,2),
               SalestoPurchaseRatio DECIMAL(15,2),
               PRIMARY KEY (VendorNumber,Brand)
              );

"""

)

In [77]:
pd.read_sql_query("select * from vendor_sales_summary",mysql)

/var/folders/7b/fgcf9q6179z14mrvyyb9prm80000gn/T/ipykernel_89820/2307106725.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from vendor_sales_summary",mysql)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, ActualPrice, PurchasePrice, Volume, TotalSalesQuantity, TotalSalesDollars, TotalSalesPrice, TotalExciseTax, TotalPurchaseQuantity, TotalPurchaseDollars, TotalFreightCost, GrossProfit, ProfitMargin, StockTurnover, SalestoPurchaseRatio]
Index: []

In [87]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "root"
password = "Mahir@863"   # your actual password
encoded_password = quote_plus(password)

engine = create_engine(
    f"mysql+pymysql://{username}:{encoded_password}@localhost:3306/vendor_management"
)

# Now run to_sql using the engine
final_table.to_sql('vendor_sales_summary', con=engine, if_exists='replace', index=False)

8370